<a href="<%= `${url}` %>" target="_blank">
  <div class="media_wrap clearfix">
    <div style="
    width: 130px;
    height: 130px;
    background-image: url('./<%=dirValue%>/<%=fileName%>');
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: <%=width%> <%=height%>;
  " onmouseover="onMouseOver(this)" id="<%=msgId%>">
    </div>
  </div>
</a>