<a href="<%= `${url}` %>" target="_blank" class="title">
  <div class="media_wrap clearfix arrangedFlex">
    <div class="<%=wrapImgClass%>">
      <img src="<%= `${dir}/${fileName}` %>" class="<%=imgClass%>"></img>
    </div>
    <div class="infor">
      <div class="title"><%= title %></div>
      <div class="description"><%= size %></div>
    </div>
  </div>
</a>